.form-container {
    margin-top: 50px;
}

.img-container {
    margin-top: 50px;
}

.img-container img {
    border-radius: 5px;
    width: 100%;
}

#contact-us {
    margin-bottom: 50px;
}

.btn .btn-primary {
    width: 100%;
    margin-bottom: 20px;
}
