.fun-fact {
    text-align: center;
}

.number {
    font-size: 3rem;
    font-weight: bold;
    color: #ff0055;
}
.section-title h3 {
    font-size: 2rem;
    font-weight: 550;
    margin-top: 5vh;
}

.section-start {
    margin-top: 100px;
}
