.section-start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.card-row {
    row-gap: 4vh;
}

.card {
}

.card:hover {
    background: linear-gradient(to right, #f61b10, #ef0963);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transform: translateY(-10px);
}
